# --- Python Virtual Environments ---
# I never want to send my library "bubble" (venv).
# Anyone who clones my project should create their own venv
# and install the libraries from 'requirements.txt'.
venv/
.venv/

# --- Python Cache and Metadata ---
# Temporary files that Python creates.
__pycache__/
*.pyc
.pytest_cache

# --- VS Code Cache and Settings ---
# My local editor settings.
.vscode/

# --- Playwright ---
# Playwright's screenshots and videos.
screenshots/

# --- Operating System Files ---
# Windows trash
Thumbs.db
# Mac trash
.DS_Store